{% extends "base.html" %}

{% block title %} {{ block.super }} Home  {% endblock %}

{% block extrahead %}

<script type="text/javascript">



$(document).ready(function(){

    var auto_refresh_balance = setInterval( function (){
                                $('#votes').load('/getvotes/').fadeIn("slow");
                            }, 30000);
});
</script>

{% endblock %}

{% block bodyclass %} base {% endblock %}

{% block content %}


<div class="container">
    <br/><br/><br/>
    <div class="clear prepend-6 span-14">
        <br/>
        <h3>&nbsp;&nbsp;&nbsp;To vote for the current speaker, call <b>+1 646.588.4366</b></h3>
    </div>
   <div id="wrap">
        <div id="ODetails" class="prev">
                <h4><b>Previous Speaker:</b> {{ previous_speaker.name }}</h4>
                <h4><b>Topic:</b> {{ previous_speaker.talk_name }}</h4>
                <h4><b>Votes:</b> {{ previous_speaker.total_votes }}</h4>

        </div>

        <div id="Details" class="current">
        <div class="votes">
            <span id="votes" "class="vote_count"><b>{{ current_speaker.total_votes }}</b></span>
            <span class="sm_txt">VOTES</span>
        </div>
            <br/>
                <h3><b>Current Speaker:</b> {{ current_speaker.name }}</h3>
                <h3><small><b>Topic:</b></small><br />
            {{ current_speaker.talk_name }}</h3>
        </div>

        <div id="ODetails" class="next">
            <h4><b>Next Speaker: </b>{{ next_speaker.name }}</h4>
            <h4><b>Presentation Topic:</b> {{ next_speaker.talk_name }}</h4>

        </div>

    </div>
</div>

{% endblock %}
